* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('img/111.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phenikaa-logo {
    width: 200px;
    margin-bottom: 20px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(175, 170, 170, 0.0);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.logo h1 {
    color: #004080;
}

h2 {
    color: #004080;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #003366;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #05203a;
    font-weight: bold;
    text-decoration: none;
}

.microsoft-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    color: #333;
    border: 1px solid #ccc;
}

.microsoft-login img {
    width: 20px;
    margin-right: 10px;
}

.microsoft-login:hover {
    background-color: #e0e0e0;
}
